<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <h1 class = "text-center">Mission to Mars</h1>
                <p class = "text-center"><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        <div class = "row">
            <div class = "col-md-12">
                <h2>Latest Mars News</h2>
                <p>{{ article_title }}</p>
                <p>{{ article_text }}</p>
        
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-8">
                <h2>Featured Mars Image</h2>
                <a href = {{spaceimages_url}}><img src={{spaceimages_url}} alt="Featured Mars Image"></a>

            </div>
            <div class = "col-md-4">
                <h2>Mars Facts</h2>
                <table>{{mars_facts|safe}}</table>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-12">
                <h2 class = "text-center">Mars Hemispheres</h2>
            </div>
        <div class = "row">
            <div class = "col-md-3">
                <h3>{{hemisphere1_title}}</h3>
                <a href = {{hemisphere1_image}}><img class="img-thumbnail" src={{hemisphere1_image}} alt="Hemisphere 1 Image"></a>
            </div>
            <div class = "col-md-3">
                <h3>{{hemisphere2_title}}</h3>
                <a href = {{hemisphere2_image}}><img class="img-thumbnail" src={{hemisphere2_image}} alt="Hemisphere 2 Image"></a>
            </div>
            <div class = "col-md-3">
                <h3>{{hemisphere3_title}}</h3>
                <a href = {{hemisphere3_image}}><img class="img-thumbnail" src={{hemisphere3_image}} alt="Hemisphere 3 Image"></a>
            </div>
            <div class = "col-md-3">
                <h3>{{hemisphere4_title}}</h3>
                <a href = {{hemisphere4_image}}><img class="img-thumbnail" src={{hemisphere4_image}} alt="Hemisphere 4 Image"></a>
            </div>
        </div>

    </div>
            </div>
        </div>
    </div>
</body>